# Ejercicios Pair Programming - Modulo 2 - Sprint 2 
## Lecci√≥n 5 - Limpieza V: Valores Nulos Sklearn
### Ana Gonzalez y Sonia Ruiz

En este caso trabajaremos con el dataframe que limpiamos en el ejercicio de pair de Limpieza III donde limpiabamos las columnas de species, age, etc. y eliminabamos los outliers. Hoy volveremos a gestionar valores nulos, pero en este caso usaremos los m√©todos de imputaci√≥n de sklearn.

**Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.**

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?
De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no.

| variable | ¬øEst√° limpia?                                                                                 |
|----------|-----------------------------------------------------------------------------------------------|
| age      | ‚úîÔ∏è esta en formato string cuando deber√≠a ser integer y en algunos casos tenemos rangos de edad |
| species  | ‚úîÔ∏è es un jaleo! Debemos unificar los nombres y reducir a las especies m√°s importantes          |
| country  | ‚úîÔ∏è los paises est√°n en may√∫sculas, algunos se repiten con algunos cambios                      |
| fatal    | ‚úîÔ∏è la limpiamos en el pair de Pandas V                                                         |
| year     | ‚úîÔ∏è es una columna de tipo float deber√≠amos convertirla a integer                               |
| sex      | ‚úîÔ∏è la limpiamos en el pair de Pandas V                                                         |
| fecha    | ‚úîÔ∏è la limpiamos en el pair de Pandas V                                                         |

Es el momento de ponernos a trabajar con los valores nulos de nuevo üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos de skelarn intentemos aplicarlos todos. Manos a la obra!
1. Es el momento de eliminar los nulos:
- Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.

In [46]:
#Importamos las librerias necesarias para trabajar en este archivo de jupyter.
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer# Para poder hacer la imputaci√≥n simple
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

In [47]:
#Creamos el dataframe con los datos del archivo que nos interesa.
df=pd.read_csv('files/attacks_limp3.csv',index_col=0)
df.head(3)

   year country age        species_ month dead gender specie  edad
0  2018     usa  57     White shark   Jun    N      F  white  57.0
1  2018  brazil  18     Tiger shark   Jun    Y      M  tiger  18.0
2  2018     usa  15  Bull shark, 6'   May    N      M   bull  15.0

In [48]:
#Elegimos la estrategia de imputacion de nulos SimpleImputer y la aplicamos.
imputer=SimpleImputer(strategy='mean',missing_values=np.nan)

In [49]:
imputer=imputer.fit(df[['edad']])

In [50]:
df['edad_media']=imputer.transform(df[['edad']])

In [51]:
#Comprobamos los nulos que teniamos antes de la imputacion.
df['edad'].isnull().sum()

179

In [52]:
#Comprobamos los nulos que teniamos despues de la imputacion.
df['edad_media'].isnull().sum()

0

- Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.
üí° **Pista** üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [53]:
#Elegimos la estrategia de imputacion de nulos SimpleImputer y la aplicamos.
imputer2=SimpleImputer(strategy='most_frequent',missing_values=np.nan)

In [54]:
imputer2=imputer2.fit(df[['gender']])

In [55]:
df['gender_moda']=imputer2.transform(df[['gender']])

In [56]:
#Comprobamos los nulos que teniamos antes de la imputacion.
df['gender'].isnull().sum()

15

In [57]:
#Comprobamos los nulos que teniamos despues de la imputacion.
df['gender_moda'].isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.

In [58]:
#Elegimos la estrategia de imputacion de nulos SimpleImputer y la aplicamos.
imputer3=SimpleImputer(strategy='most_frequent',missing_values=np.nan)
imputer3=imputer3.fit(df[['age']])
df['age_moda']=imputer3.transform(df[['age']])

In [59]:
#Comprobamos los nulos que teniamos antes de la imputacion.
df['age'].isnull().sum()

130

In [60]:
#Comprobamos los nulos que teniamos despues de la imputacion.
df['age_moda'].isnull().sum()

0

- Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [61]:
#Creamos una copia del dataframe original que estamos cambiando.
df2=df.copy()
df2.head(3)

,year,country,age,species_,month,dead,gender,specie,edad,edad_media,gender_moda,age_moda
0,2018,usa,57,White shark,Jun,N,F,white,57.0,57.0,F,57
1,2018,brazil,18,Tiger shark,Jun,Y,M,tiger,18.0,18.0,M,18
2,2018,usa,15,"Bull shark, 6'",May,N,M,bull,15.0,15.0,M,15

In [62]:
#Creamos un dataframe solo con las variables numericas.
df_numericas=df.select_dtypes(include=np.number)
df_numericas.head(3)

   year  edad  edad_media
0  2018  57.0        57.0
1  2018  18.0        18.0
2  2018  15.0        15.0

In [63]:
df_numericas.isnull().sum()

year            0
edad          179
edad_media      0
dtype: int64

In [64]:
#Iniciamos el KNNImputer
imputerknn=KNNImputer(n_neighbors=6)
imputerknn.fit(df_numericas)

KNNImputer(n_neighbors=6)

In [65]:
#Aplicamos el metodos a las variables numericas y pasamos el array en un dataframe.
num_knn=imputerknn.transform(df_numericas)
df_num_knn=pd.DataFrame(num_knn,columns=df_numericas.columns)

In [66]:
#Mostramos en que columnas estamos trabajando.
df_num_knn.columns

Index(['year', 'edad', 'edad_media'], dtype='object')

In [67]:
#sacamos el nombre de las columnas del nuevo dataframe y las eliminamos del dataframe original para despues
#  introducir las columnas con los nulos imputados.
columns_knn=df_num_knn.columns
df.drop(columns_knn,axis=1,inplace=True)
#Creamos esas columnas en el dataframe con los valores imputados en los valores nulos
df[columns_knn]=num_knn
#Comprobamos que ya no hay nulos en las columnas imputadas
df.isnull().sum()

country         10
age            130
species_       103
month          155
dead            99
gender          15
specie         103
gender_moda      0
age_moda         0
year             0
edad             0
edad_media       0
dtype: int64

- Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [68]:
#Creamos otra copia del dataframe original que estamos cambiando.
df3=df2.copy()
df3.head(3)

,year,country,age,species_,month,dead,gender,specie,edad,edad_media,gender_moda,age_moda
0,2018,usa,57,White shark,Jun,N,F,white,57.0,57.0,F,57
1,2018,brazil,18,Tiger shark,Jun,Y,M,tiger,18.0,18.0,M,18
2,2018,usa,15,"Bull shark, 6'",May,N,M,bull,15.0,15.0,M,15

In [69]:
#Creamos un dataframe solo con las variables numericas a partir de la copia que hicimos el datafra orginal antes de imputar sus nulos..
df_numericas2=df3.select_dtypes(include=np.number)
#Vemos los valores nulos que tenemos en las variables de nuestro dataframe de variables numericas.
df_numericas2.isnull().sum()

year            0
edad          179
edad_media      0
dtype: int64

In [70]:
#Iniciamos el metodo Iterative Imputer diciendo que mire todas las caracteristicas (n_nearest_features=None),
#  que vaya tomando de las columnas con menos valores nulos a las que mas valores nulos tengan
#  (imputation_order='ascending') y que utilice el estadistico 'mediana' para reemplazar los nulos.
it_imputer=IterativeImputer(initial_strategy='median',missing_values= np.nan,n_nearest_features=None, imputation_order='ascending')
#Lo empleamos en las variables numericas
it_imputer.fit(df_numericas2)
#Reemplazamos los nulos y lo hacemos dataframe
df_numeric_transformed=pd.DataFrame(it_imputer.transform(df_numericas2),columns=df_numericas2.columns)
#Comprobamos que no tenemos valores nulos.
df_numeric_transformed.isnull().sum()

year          0
edad          0
edad_media    0
dtype: int64

In [71]:
#Con el nombre de las columnas que hemos imputado las eliminamos de nuestro dataframe copiado que aun
#  no habiamos imputado sus nulos en las variables numericas.
columns_it=df_numeric_transformed.columns
columns_it

Index(['year', 'edad', 'edad_media'], dtype='object')

In [72]:
#Comprobamos el numeros de filas y columnas.
print(f'El dataframe "df_numeric_transformed" tiene {df_numeric_transformed.shape[0]} filas y {df_numeric_transformed.shape[1]} columnas.')

El dataframe "df_numeric_transformed" tiene 1646 filas y 3 columnas.

In [73]:
print(f'El dataframe "df2" tiene {df2.shape[0]} filas y {df2.shape[1]} columnas.')

El dataframe "df2" tiene 1646 filas y 12 columnas.

In [74]:
#Eliminamos esas columnas del dataframe.
df2.drop(columns_it,axis=1,inplace=True)
#Comprobamos con las columnas que nos quedamos.
df2.columns

Index(['country', 'age', 'species_', 'month', 'dead', 'gender', 'specie',
       'gender_moda', 'age_moda'],
      dtype='object')

In [75]:
#VEmos que efectivametne ahora tenemos 3 columnas menos.
print(f'El dataframe "df2" tiene {df2.shape[0]} filas y {df2.shape[1]} columnas.')

El dataframe "df2" tiene 1646 filas y 9 columnas.

In [76]:
#Hacemos un reset_index para que no nos de problema al poner de nuevo las columnas con los valores nulos imputados por los nuevos.
df2.reset_index(inplace=True)
df2.head(1)

,index,country,age,species_,month,dead,gender,specie,gender_moda,age_moda
0,0,usa,57,White shark,Jun,N,F,white,F,57

In [77]:
#Hacemos un reset_index para que no nos de problema al poner de nuevo las columnas con los valores nulos imputados por los nuevos.
df_numeric_transformed.reset_index(inplace=True)
df_numeric_transformed.head(1)

   index    year  edad  edad_media
0      0  2018.0  57.0        57.0

In [80]:
#Creamos las nuevas columnas con los nulos ya sustituidos, tenemos una columna m√°s, porque hemos reseteado el 'index', 
# para evitar la formaci√≥n de nulos en la uni√≥n.
df2[columns_it]=df_numeric_transformed[columns_it]
print(f'El dataframe "df2" tiene {df2.shape[0]} filas y {df2.shape[1]} columnas.')

El dataframe "df2" tiene 1646 filas y 13 columnas.

In [81]:
#Comprobamos que no haya valores nulos en esas nuevas columnas.Comprobamos si hay nulos en las columnas imputadas.
df2.isnull().sum()

index            0
country         10
age            130
species_       103
month          155
dead            99
gender          15
specie         103
gender_moda      0
age_moda         0
year             0
edad             0
edad_media       0
dtype: int64

In [82]:
#Establecemos de nuevo la columna 'index' como sus indices.
df2.set_index('index',inplace=True)

In [83]:
#VEmos que efectivametne ahora tenemos  df2 como al inicio, con los nulos imputados.
print(f'El dataframe "df2" tiene {df2.shape[0]} filas y {df2.shape[1]} columnas.')

El dataframe "df2" tiene 1646 filas y 12 columnas.

- ¬øPodr√≠ais explicar qu√© diferencia hay entre estos dos √∫ltimos m√©todos?

` KNN toma en cuenta los valores vecinos, mientras que IterativeImputer mira las variables. Adem√°s IterativeImputer es m√°s eficiente al reemplazar porque requiere menos memoria del ordenador. `

2. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [ ]:
df2.to_csv('files/attacks_limp5.csv')

**Happy coding** ü¶à