# Ejercicios Pair Programming - Modulo 3 - Sprint 1 
## Lección 1 - Intro a Machine Learning
### Pilar García y Sonia Ruiz Pérez

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos sobre la Regresión Lineal Simple I. Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De forma que vamos a probar a realizar ajustes lineales con el fin de predecir alguna de sus variables. Este dataset será el que iremos usando a lo largo de todas las sesiones de pairprogramming de regresión lineal.

***Se ruega a la hora de realizar la entrega que incluyais el conjunto de datos que hayais decidido emplear para estos ejercicios.***

**Objetivos**

Los objetivos de hoy son:
1. Buscar un conjunto de datos a analizar:
    - Es necesario que el conjunto de datos a analizar tenga variables numéricas y categóricas, primando que haya más de una variable de tipo numérico. Ya que tambien se utilizarán serán útiles a la hora de realizar predicciones en las clases de regresión lineal múltiple. Así mismo se recomienda que los datasets esten ligeramente limpios para facilitar los análisis.

In [1]:
# Importación de librerías
import pandas as pd
import numpy as np
import seaborn as sns
pd.options.display.max_columns=None
import sidetable

In [2]:
# Descarga de los dataset incluidos en la librería seaborn
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
# Cargamos el dataset 'taxis'
df=sns.load_dataset('taxis')

In [4]:
df.head(3)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan


2. Explicar los datos y las variables disponibles en el conjunto de datos seleccionado:
    - Esto se hace para que comprendais mejor los datos con los que estais trabajando.
    - Realizar un EDA sencillo para la variable dependiente y la variable independiente.

In [5]:
print(f"El dataset consta de {df.shape[0]} filas y {df.shape[1]} columnas.")

El dataset consta de 6433 filas y 14 columnas.

In [6]:
# Información básica del dataframe, como nombre columnas, tipo de dato, filas no nulas, número de registros y número de columnas.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [7]:
# Obtenemos los principales estadísticos de las variables numéricas.
df.describe().T

             count       mean        std  min    25%    50%    75%     max
passengers  6433.0   1.539251   1.203768  0.0   1.00   1.00   2.00    6.00
distance    6433.0   3.024617   3.827867  0.0   0.98   1.64   3.21   36.70
fare        6433.0  13.091073  11.551804  1.0   6.50   9.50  15.00  150.00
tip         6433.0   1.979220   2.448560  0.0   0.00   1.70   2.80   33.20
tolls       6433.0   0.325273   1.415267  0.0   0.00   0.00   0.00   24.02
total       6433.0  18.517794  13.815570  1.3  10.80  14.16  20.30  174.82

In [8]:
# Obtenemos los principales estadísticos de las variables categóricas.
df.describe(include='object').T

                count unique                    top  freq
pickup           6433   6414    2019-03-13 10:57:06     2
dropoff          6433   6425    2019-03-04 18:08:13     2
color            6433      2                 yellow  5451
payment          6389      2            credit card  4577
pickup_zone      6407    194         Midtown Center   230
dropoff_zone     6388    203  Upper East Side North   245
pickup_borough   6407      4              Manhattan  5268
dropoff_borough  6388      5              Manhattan  5206

In [9]:
# Comprobamos el número de filas nulas por cada columna.
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [10]:
# Comprobamos el porcentaje de valores nulos por columna.
df.stb.missing()

                 missing  total   percent
dropoff_zone          45   6433  0.699518
dropoff_borough       45   6433  0.699518
payment               44   6433  0.683973
pickup_zone           26   6433  0.404166
pickup_borough        26   6433  0.404166
pickup                 0   6433  0.000000
dropoff                0   6433  0.000000
passengers             0   6433  0.000000
distance               0   6433  0.000000
fare                   0   6433  0.000000
tip                    0   6433  0.000000
tolls                  0   6433  0.000000
total                  0   6433  0.000000
color                  0   6433  0.000000

In [11]:
# Número de duplicados en todo el dataframe.
df.duplicated().sum()

0

In [12]:
# Nombre de las columnas del dataframe.
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

`Cómo podemos observar en la tabla de nulos que no llegamos al 1% de valores nulos decidimos eliminar estos registros para así tener nuestro dataframe limpio.`

In [13]:
# Número de filas antes de eliminar las filas con valores nulos.
df.shape

(6433, 14)

In [14]:
# Eliminación de valores nulos.
df.dropna(inplace=True)

In [15]:
# Número de filas después de eliminar las filas con valores nulos.
df.shape

(6341, 14)

In [16]:
# Comprobamos el porcentaje de valores nulos por columna después de eliminarlos.
df.stb.missing()

                 missing  total  percent
pickup                 0   6341      0.0
dropoff                0   6341      0.0
passengers             0   6341      0.0
distance               0   6341      0.0
fare                   0   6341      0.0
tip                    0   6341      0.0
tolls                  0   6341      0.0
total                  0   6341      0.0
color                  0   6341      0.0
payment                0   6341      0.0
pickup_zone            0   6341      0.0
dropoff_zone           0   6341      0.0
pickup_borough         0   6341      0.0
dropoff_borough        0   6341      0.0

`Nuestra variable respuesta (dependiente) sera la columna 'tip'.`

`Nuestra variable predictora (independiente) será la columna 'total'. Pero creemos que puede que cambiemos de enfoque en un futuro, así que hemos limpiado todo el dataframe de nulos.`

In [17]:
df.to_csv('files/taxis1.csv')

**Happy coding** 📊📈📉