# Ejercicios Pair Programming - Modulo 2 - Sprint 1 
## Lección 7 - Pandas VII - Apply
### Judith Mellidez y Sonia Ruiz

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... 😭. En los ejercicios de hoy pondremos en práctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma más sencilla.

Manos a la obra 💪🏽! Los objetivos de la clase de hoy son:
1. Cread una columna nueva y una función que nos de el mes en el que ocurrió el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la información de mes. En ese caso devolved un nulo (NaN).

💡 Pista 💡Podéis usar regex.

In [2]:
# importamos las librerias necesarias para la utilizacion de sus metodos
import pandas as pd
import numpy as np
import re

In [3]:
# creamos el dataframe a partir del archivo .csv .
df=pd.read_csv('Data_lecc5_pandas/attacks_lec5.csv')
df.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,fatal_(y/n),injury,date
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

- Utilizamos los siguientesmetodos para obtener informacion sobre el DataFrame:

In [4]:
# aplicamos el metodo '.value_counts()' a la columna date para la obtencion de los valores unicos.
df["date"].value_counts()

No date                 6
No date, Before 1963    5
Before 1906             4
Before 1958             4
18-Aug-2001             3
                       ..
18-Jun-2005             1
22-Jun-2005             1
25-Jun-2005             1
27-Jun-2005             1
1845-1853               1
Name: date, Length: 1522, dtype: int64

In [5]:
# obtenemos informacion sobre los datos numericos de la columna date
df['date'].describe()

count        1672
unique       1522
top       No date
freq            6
Name: date, dtype: object

In [5]:
# nos devuelve la cantidad de valores que son nulos en cada columna del DataFrame 1
df['date'].isnull().sum()

0

In [6]:
# creamos una copia del DataFrame para trabajar sobre ella.
df2=df.copy()

In [31]:
# definimos una funcion donde aplicamos un patron de regex para la busqueda del mes 
patron = "[A-Z]\w+"
def sacar_mes(col):
    try:
        return re.findall(patron, col)[0]
        
    except:
        return np.nan

In [34]:
# creamos una columna nueva denominada 'month' donde almacenaremos los datos obtenidos de la funcion, aplicando el metodo '
# .apply()'en la columna date.
df2['month'] = df2['date'].apply(sacar_mes)
df2.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,...,age,time,species_,href,siglo,fatal_(y/n),injury,date,month,gender
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,...,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun,M
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,...,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May,M
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,...,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,M
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,...,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,M

In [35]:
# obtenemos los valores de la columna 'month'.
df2['month'].value_counts()

Aug         158
Sep         153
Oct         146
Jul         143
Jun         134
Jan         126
Apr         124
Mar         105
May         105
Dec         103
Nov          99
Feb          95
Before       64
No           26
Reported     16
Ca            6
Summer        3
Circa         2
World         2
Between       2
Mid           2
Letter        1
Late          1
Beforer       1
June          1
During        1
Said          1
May2015       1
Early         1
Name: month, dtype: int64

2. Vamos con la columna fatal_(y/n). Lo primero que tenéis que hacer es evaluar los valores únicos que hay. Esperaríamos tener solo dos valores: y y n, pero tristemente no será así 😭. Cread una columna nueva y una función que devuelva únicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [36]:
# nos muestra los elementos unicos del array.
df2["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [37]:
# creamos la funcion para que nos devuelva los valores 'Y' o 'N', de lo contrario nos devolvera un nulo.  
def return_yn (col):
    if col == "N" or col == "Y":
        return col
    else:
        return np.nan

In [38]:
# una vez hemos creado la funcion, almacenamos los datos obtenidos en dicha funcion mediante la utilizacion del metodo '.apply()' 
df2['dead']=df2["fatal_(y/n)"].apply(return_yn)

In [39]:
df2['dead'].head()

0    N
1    Y
2    N
3    N
4    N
Name: dead, dtype: object

In [40]:
# comprobamos los elementos unicos del array tras realizar la funcion.
df2['dead'].unique()

array(['N', 'Y', nan], dtype=object)

3. Seguid la misma lógica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito más: En este caso querremos tener dos valores únicos F y M. De nuevo en la columna hay otros carácteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendréis que usar la librería random). En caso de que sea nulo, que la función devuelva nulo (np.nan).

In [41]:
# importamos la libreria para la utilizacion de sus metodos
import random

In [42]:
df2["sex_"].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [43]:
# creamos la funcion para que nos devuelva los valores 'F' o 'M', de lo contrario nos devolvera un nulo.  
def change_sex_ (col):
    if col == "F" or col == "M":
        return col
    else:
        return np.nan

In [44]:
df2['gender']=df2['sex_'].apply(change_sex_)
df2.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,...,time,species_,href,siglo,fatal_(y/n),injury,date,month,gender,dead
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,...,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Y,FATAL,03-Jun-2018,Jun,M,Y
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,...,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Lower left leg bitten,26-May-2018,May,M,N
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,...,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,M,N
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,...,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,M,N

In [45]:
df2['gender'].unique()

array(['F', 'M', nan], dtype=object)

In [46]:
df2.columns

Index(['Unnamed: 0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex_', 'age', 'time',
       'species_', 'href', 'siglo', 'fatal_(y/n)', 'injury', 'date', 'month',
       'gender', 'dead'],
      dtype='object')

4. Una vez que hayáis terminado eliminad las columnas originales conservando las nuevas.

In [48]:
# eliminamos las dos columnas originales. Podemos observar a la derecha de la grafica que se conservan las nuevas añadidas:
# 'month' y 'gender'.
df2_clean=df2.drop(['sex_','fatal_(y/n)'], axis=1)
df2_clean.head()

,Unnamed: 0,case_number,unnamed:_0,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,gender,dead
0,0,2018.06.25,0.0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,F,N
1,1,2018.06.03.a,6.0,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,03-Jun-2018,Jun,M,Y
2,2,2018.05.26.b,8.0,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,26-May-2018,May,M,N
3,3,2018.05.24,10.0,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,M,N
4,4,2018.05.13.a,13.0,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,M,N

In [50]:
# comprobamos que las columnas han sido eliminadas correctamente. 
df2_clean.columns

Index(['Unnamed: 0', 'case_number', 'unnamed:_0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'age', 'time', 'species_',
       'href', 'siglo', 'injury', 'date', 'month', 'gender', 'dead'],
      dtype='object')

5. Guardad el dataframe en un csv que usaremos más adelante

In [51]:
# guardado del csv 
df2_clean.to_csv('Data_lecc7_pandas/attacks_lec7.csv')

Happy coding 🦈