# Ejercicios Pair Programming - Modulo 2 - Sprint 1 
## LecciÃ³n 3 - Pandas III: MÃ©todos Pandas
### Judith Mellidez y Sonia Ruiz

De aquÃ­ en adelante, vamos a trabajar con el mismo dataset. Se trata de un conjunto de datos que contiene informaciÃ³n sobre ataques de tiburones en distintas partes del mundo. Â¿El problema de los datos? EstÃ¡n terriblemente sucios!!! En las prÃ³ximas lecciones iremos limpiando este csv y sacaremos conclusiones usando la visualizaciÃ³n.

### __Tareas a realizar en este pair programming__

0. Desgargar el archivo attacks.csv del GitBook, en el apartado PairProgramming Pandas III.
1. Cargar el dataset

ðŸ’¡ Pista Si hacemos la carga del dataset sin el parÃ¡metro encoding nos puede dar error (puede que no os de error, si es asÃ­ menos problemas!). AquÃ­ tenÃ©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.

In [116]:
#Importamos la libreria Pandas y cremos el dataframe a partir del fichero .csv .
import pandas as pd
attacks=pd.read_csv('data_pandas_lec3/attacks.csv', encoding='utf-8')
attacks.head()
#especificamos el encoding, aunquen no nos ha dado error en un principio.

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

2. Haced una exploraciÃ³n bÃ¡sica del DataFrame:
- Â¿CuÃ¡ntas filas y columnas tiene el DataFrame?

In [117]:
#Obtenemos la forma del dataframe
attacks_shape=attacks.shape
print(f'El DataFrame Attacks tiene {attacks_shape[0]} filas y {attacks_shape[1]} columnas')

El DataFrame Attacks tiene 6114 filas y 22 columnas

- Mostrad las primeras cinco filas y las Ãºltimas cinco filas del DataFrame.
Mostrad 2 filas al azar del DataFrame.

In [118]:
print('Las 5 primeras filas son:')
attacks.head()

Las 5 primeras filas son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [119]:
print('Las 5 ultimas filas son:')
attacks.tail()

Las 5 ultimas filas son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [120]:
print('Dos de sus filas son:')
attacks.sample(2)
#El metodo ".sample()" nos muestra el numero que le especifiquemos al azar.

Dos de sus filas son:

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5188,5200,1923.08.08,1923.0,Unprovoked,GUYANA,Demerara County,Off the Demerara River,Fishing,Charles Blair,M,...,NaN,"Gleaner (Jamaica), 9/6/1923",1923.08.08-Blair.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1923.08.08,1923.08.08,1103.0,NaN,NaN
5015,5027,1931.01.07,1931.0,Unprovoked,AUSTRALIA,Queensland,"Yeppoon, near Ross Creek",Swimming,Stanley Roser,M,...,1.5 m [5'] shark,"Canberra Times, 1/9/1931; V.M. Coppleson.Q8. (...",1931.01.07-Roser.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.01.07,1931.01.07,1276.0,NaN,NaN

- Â¿CuÃ¡l es el nombre de las columnas del DataFrame?

In [121]:
print('Los nombres de las columnas son:')
nombres_columnas=attacks.columns
nombres_columnas

Los nombres de las columnas son:

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

- Â¿CuÃ¡les son los principales estÃ¡disticos del DataFrame? Mostrad por separado las variables categÃ³ricas y las variables numÃ©ricas.

In [122]:
print('Los principales estadisticos de las variables numericas son:')
attacks.describe()

Los principales estadisticos de las variables numericas son:

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [123]:
print('Los principales estadisticos de las variables categoricas son:')
attacks.describe(include='object')

Los principales estadisticos de las variables categoricas son:

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

- Â¿CuÃ¡l es el porcentaje de valores nulos en cada columna?

In [124]:
#primero obtenemos los valores nulos por cada columna, dandonos un valor de la suma de los nulos en esa columna.
attacks.isnull().sum()

Unnamed: 0                   0
Case Number                  1
Year                         0
Type                         4
Country                     40
Area                       408
Location                   488
Activity                   511
Name                       200
Sex                        550
Age                       2666
Time                      3180
Species                   2705
Investigator or Source      16
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6113
Unnamed: 23               6112
dtype: int64

In [125]:
#efectuamos el porcetaje a cada uno de los valores que hemos obtenido de cada una de las columnas de la siguiente manera:
attacks.isnull().sum()/6113*100

Unnamed: 0                  0.000000
Case Number                 0.016359
Year                        0.000000
Type                        0.065434
Country                     0.654343
Area                        6.674301
Location                    7.982987
Activity                    8.359234
Name                        3.271716
Sex                         8.997219
Age                        43.611974
Time                       52.020285
Species                    44.249959
Investigator or Source      0.261737
pdf                         0.000000
href formula                0.016359
href                        0.000000
Case Number.1               0.000000
Case Number.2               0.000000
original order              0.000000
Unnamed: 22               100.000000
Unnamed: 23                99.983641
dtype: float64

- Sacad los valores Ãºnicos y su frecuencia de las variables numÃ©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [129]:
#obtenemos los tipos de datos de cada una de las columnas para conocer las columnas
#  con datos numericos y poder generar los diccionarios con los valores unicos y sus frecuencias.
attacks.dtypes

Unnamed: 0                  int64
Case Number                object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [127]:
#creacion de diccionario de la variable numerica 'Unnamed: 0'.
dicc_unnamed=dict(attacks['Unnamed: 0'].value_counts())
dicc_unnamed

{0: 1,
 4084: 1,
 4093: 1,
 4092: 1,
 4091: 1,
 4090: 1,
 4089: 1,
 4088: 1,
 4087: 1,
 4086: 1,
 4085: 1,
 4083: 1,
 4095: 1,
 4082: 1,
 4081: 1,
 4080: 1,
 4079: 1,
 4078: 1,
 4077: 1,
 4076: 1,
 4075: 1,
 4074: 1,
 4094: 1,
 4096: 1,
 4072: 1,
 4108: 1,
 4117: 1,
 4116: 1,
 4115: 1,
 4114: 1,
 4113: 1,
 4112: 1,
 4111: 1,
 4110: 1,
 4109: 1,
 4107: 1,
 4097: 1,
 4106: 1,
 4105: 1,
 4104: 1,
 4103: 1,
 4102: 1,
 4101: 1,
 4100: 1,
 4099: 1,
 4098: 1,
 4073: 1,
 4071: 1,
 4119: 1,
 4036: 1,
 4045: 1,
 4044: 1,
 4043: 1,
 4042: 1,
 4041: 1,
 4040: 1,
 4039: 1,
 4038: 1,
 4037: 1,
 4035: 1,
 4047: 1,
 4034: 1,
 4033: 1,
 4032: 1,
 4031: 1,
 4030: 1,
 4029: 1,
 4028: 1,
 4027: 1,
 4026: 1,
 4046: 1,
 4048: 1,
 4070: 1,
 4060: 1,
 4069: 1,
 4068: 1,
 4067: 1,
 4066: 1,
 4065: 1,
 4064: 1,
 4063: 1,
 4062: 1,
 4061: 1,
 4059: 1,
 4049: 1,
 4058: 1,
 4057: 1,
 4056: 1,
 4055: 1,
 4054: 1,
 4053: 1,
 4052: 1,
 4051: 1,
 4050: 1,
 4118: 1,
 4120: 1,
 4597: 1,
 4180: 1,
 4189: 1,
 4188: 1,
 4187: 1,
 4186: 1,
 4185: 1,
 4184: 1,
 4183: 1,
 4182: 1,
 4181: 1,
 4179: 1,
 4191: 1,
 4178: 1,
 4177: 1,
 4176: 1,
 4175: 1,
 4174: 1,
 4173: 1,
 4172: 1,
 4171: 1,
 4170: 1,
 4190: 1,
 4192: 1,
 4168: 1,
 4204: 1,
 4213: 1,
 4212: 1,
 4211: 1,
 4210: 1,
 4209: 1,
 4208: 1,
 4207: 1,
 4206: 1,
 4205: 1,
 4203: 1,
 4193: 1,
 4202: 1,
 4201: 1,
 4200: 1,
 4199: 1,
 4198: 1,
 4197: 1,
 4196: 1,
 4195: 1,
 4194: 1,
 4169: 1,
 4167: 1,
 4121: 1,
 4132: 1,
 4141: 1,
 4140: 1,
 4139: 1,
 4138: 1,
 4137: 1,
 4136: 1,
 4135: 1,
 4134: 1,
 4133: 1,
 4131: 1,
 4143: 1,
 4130: 1,
 4129: 1,
 4128: 1,
 4127: 1,
 4126: 1,
 4125: 1,
 4124: 1,
 4123: 1,
 4122: 1,
 4142: 1,
 4144: 1,
 4166: 1,
 4156: 1,
 4165: 1,
 4164: 1,
 4163: 1,
 4162: 1,
 4161: 1,
 4160: 1,
 4159: 1,
 4158: 1,
 4157: 1,
 4155: 1,
 4145: 1,
 4154: 1,
 4153: 1,
 4152: 1,
 4151: 1,
 4150: 1,
 4149: 1,
 4148: 1,
 4147: 1,
 4146: 1,
 4025: 1,
 4024: 1,
 4023: 1,
 3893: 1,
 3902: 1,
 3901: 1,
 3900: 1,
 3899: 1,
 3898: 1,
 3897: 1,
 3896: 1,
 3895: 1,
 3894: 1,
 3892: 1,
 3904: 1,
 3891: 1,
 3890: 1,
 3889: 1,
 3888: 1,
 3887: 1,
 3886: 1,
 3885: 1,
 3884: 1,
 3883: 1,
 3903: 1,
 3905: 1,
 3881: 1,
 3917: 1,
 3926: 1,
 3925: 1,
 3924: 1,
 3923: 1,
 3922: 1,
 3921: 1,
 3920: 1,
 3919: 1,
 3918: 1,
 3916: 1,
 3906: 1,
 3915: 1,
 3914: 1,
 3913: 1,
 3912: 1,
 3911: 1,
 3910: 1,
 3909: 1,
 3908: 1,
 3907: 1,
 3882: 1,
 3880: 1,
 4022: 1,
 3845: 1,
 3854: 1,
 3853: 1,
 3852: 1,
 3851: 1,
 3850: 1,
 3849: 1,
 3848: 1,
 3847: 1,
 3846: 1,
 3844: 1,
 3856: 1,
 3843: 1,
 3842: 1,
 3841: 1,
 3840: 1,
 3839: 1,
 3838: 1,
 3837: 1,
 3836: 1,
 3835: 1,
 3855: 1,
 3857: 1,
 3879: 1,
 3869: 1,
 3878: 1,
 3877: 1,
 3876: 1,
 3875: 1,
 3874: 1,
 3873: 1,
 3872: 1,
 3871: 1,
 3870: 1,
 3868: 1,
 3858: 1,
 3867: 1,
 3866: 1,
 3865: 1,
 3864: 1,
 3863: 1,
 3862: 1,
 3861: 1,
 3860: 1,
 3859: 1,
 3927: 1,
 3928: 1,
 3929: 1,
 3988: 1,
 3997: 1,
 3996: 1,
 3995: 1,
 3994: 1,
 3993: 1,
 3992: 1,
 3991: 1,
 3990: 1,
 3989: 1,
 3987: 1,
 3999: 1,
 3986: 1,
 3985: 1,
 3984: 1,
 3983: 1,
 3982: 1,
 3981: 1,
 3980: 1,
 3979: 1,
 3978: 1,
 3998: 1,
 4000: 1,
 3930: 1,
 4012: 1,
 4021: 1,
 4020: 1,
 4019: 1,
 4018: 1,
 4017: 1,
 4016: 1,
 4015: 1,
 4014: 1,
 4013: 1,
 4011: 1,
 4001: 1,
 4010: 1,
 4009: 1,
 4008: 1,
 4007: 1,
 4006: 1,
 4005: 1,
 4004: 1,
 4003: 1,
 4002: 1,
 3977: 1,
 3976: 1,
 3975: 1,
 3941: 1,
 3950: 1,
 3949: 1,
 3948: 1,
 3947: 1,
 3946: 1,
 3945: 1,
 3944: 1,
 3943: 1,
 3942: 1,
 3940: 1,
 3974: 1,
 3939: 1,
 3938: 1,
 3937: 1,
 3936: 1,
 3935: 1,
 3934: 1,
 3933: 1,
 3932: 1,
 3931: 1,
 3951: 1,
 3952: 1,
 3953: 1,
 3954: 1,
 3973: 1,
 3972: 1,
 3971: 1,
 3970: 1,
 3969: 1,
 3968: 1,
 3967: 1,
 3966: 1,
 3965: 1,
 3964: 1,
 3963: 1,
 3962: 1,
 3961: 1,
 3960: 1,
 3959: 1,
 3958: 1,
 3957: 1,
 3956: 1,
 3955: 1,
 4214: 1,
 4215: 1,
 4216: 1,
 4467: 1,
 4476: 1,
 4475: 1,
 4474: 1,
 4473: 1,
 4472: 1,
 4471: 1,
 4470: 1,
 4469: 1,
 4468: 1,
 4466: 1,
 4478: 1,
 4465: 1,
 4464: 1,
 4463: 1,
 4462: 1,
 4461: 1,
 4460: 1,
 4459: 1,
 4458: 1,
 4457: 1,
 4477: 1,
 4479: 1,
 4455: 1,
 4491: 1,
 4500: 1,
 4499: 1,
 4498: 1,
 4497: 1,
 4496: 1,
 4495: 1,
 4494: 1,
 4493: 1,
 4492: 1,
 4490: 1,
 4480: 1,
 4489: 1,
 4488: 1,
 4487: 1,
 4486: 1,
 4485: 1,
 4484: 1,
 4483: 1,
 4482: 1,
 4481: 1,
 4456: 1,
 4454: 1,
 4407: 1,
 4419: 1,
 4428: 1,
 4427: 1,
 4426: 1,
 4425: 1,
 4424: 1,
 4423: 1,
 4422: 1,
 4421: 1,
 4420: 1,
 4418: 1,
 4430: 1,
 4417: 1,
 4416: 1,
 4415: 1,
 4414: 1,
 4413: 1,
 4412: 1,
 4411: 1,
 4410: 1,
 4409: 1,
 4429: 1,
 4431: 1,
 4453: 1,
 4443: 1,
 4452: 1,
 4451: 1,
 4450: 1,
 4449: 1,
 4448: 1,
 4447: 1,
 4446: 1,
 4445: 1,
 4444: 1,
 4442: 1,
 4432: 1,
 4441: 1,
 4440: 1,
 4439: 1,
 4438: 1,
 4437: 1,
 4436: 1,
 4435: 1,
 4434: 1,
 4433: 1,
 4501: 1,
 4502: 1,
 4503: 1,
 4562: 1,
 4571: 1,
 4570: 1,
 4569: 1,
 4568: 1,
 4567: 1,
 4566: 1,
 4565: 1,
 4564: 1,
 4563: 1,
 4561: 1,
 4573: 1,
 4560: 1,
 4559: 1,
 4558: 1,
 4557: 1,
 4556: 1,
 4555: 1,
 4554: 1,
 4553: 1,
 4552: 1,
 4572: 1,
 4574: 1,
 4504: 1,
 4586: 1,
 4595: 1,
 4594: 1,
 4593: 1,
 4592: 1,
 4591: 1,
 4590: 1,
 4589: 1,
 4588: 1,
 4587: 1,
 4585: 1,
 4575: 1,
 4584: 1,
 4583: 1,
 4582: 1,
 4581: 1,
 4580: 1,
 4579: 1,
 4578: 1,
 4577: 1,
 4576: 1,
 4551: 1,
 4550: 1,
 4549: 1,
 4515: 1,
 4524: 1,
 4523: 1,
 4522: 1,
 4521: 1,
 4520: 1,
 4519: 1,
 4518: 1,
 4517: 1,
 4516: 1,
 4514: 1,
 4548: 1,
 4513: 1,
 4512: 1,
 4511: 1,
 4510: 1,
 4509: 1,
 4508: 1,
 4507: 1,
 4506: 1,
 4505: 1,
 4525: 1,
 4526: 1,
 4527: 1,
 4528: 1,
 4547: 1,
 4546: 1,
 4545: 1,
 4544: 1,
 4543: 1,
 4542: 1,
 4541: 1,
 4540: 1,
 4539: 1,
 4538: 1,
 4537: 1,
 4536: 1,
 4535: 1,
 4534: 1,
 4533: 1,
 4532: 1,
 4531: 1,
 4530: 1,
 4529: 1,
 4408: 1,
 4406: 1,
 4217: 1,
 4276: 1,
 4285: 1,
 4284: 1,
 4283: 1,
 4282: 1,
 4281: 1,
 4280: 1,
 4279: 1,
 4278: 1,
 4277: 1,
 4275: 1,
 4287: 1,
 4274: 1,
 4273: 1,
 4272: 1,
 4271: 1,
 4270: 1,
 4269: 1,
 4268: 1,
 4267: 1,
 4266: 1,
 4286: 1,
 4288: 1,
 4264: 1,
 4300: 1,
 4309: 1,
 4308: 1,
 4307: 1,
 4306: 1,
 4305: 1,
 4304: 1,
 4303: 1,
 4302: 1,
 4301: 1,
 4299: 1,
 4289: 1,
 4298: 1,
 4297: 1,
 4296: 1,
 4295: 1,
 4294: 1,
 4293: 1,
 4292: 1,
 4291: 1,
 4290: 1,
 4265: 1,
 4263: 1,
 4405: 1,
 4228: 1,
 4237: 1,
 4236: 1,
 4235: 1,
 4234: 1,
 4233: 1,
 4232: 1,
 4231: 1,
 4230: 1,
 4229: 1,
 4227: 1,
 4239: 1,
 4226: 1,
 4225: 1,
 4224: 1,
 4223: 1,
 4222: 1,
 4221: 1,
 4220: 1,
 4219: 1,
 4218: 1,
 4238: 1,
 4240: 1,
 4262: 1,
 4252: 1,
 4261: 1,
 4260: 1,
 4259: 1,
 4258: 1,
 4257: 1,
 4256: 1,
 4255: 1,
 4254: 1,
 4253: 1,
 4251: 1,
 4241: 1,
 4250: 1,
 4249: 1,
 4248: 1,
 4247: 1,
 4246: 1,
 4245: 1,
 4244: 1,
 4243: 1,
 4242: 1,
 4310: 1,
 4311: 1,
 4312: 1,
 4371: 1,
 4380: 1,
 4379: 1,
 4378: 1,
 4377: 1,
 4376: 1,
 4375: 1,
 4374: 1,
 4373: 1,
 4372: 1,
 4370: 1,
 4382: 1,
 4369: 1,
 4368: 1,
 4367: 1,
 4366: 1,
 4365: 1,
 4364: 1,
 4363: 1,
 4362: 1,
 4361: 1,
 4381: 1,
 4383: 1,
 4313: 1,
 4395: 1,
 4404: 1,
 4403: 1,
 4402: 1,
 4401: 1,
 4400: 1,
 4399: 1,
 4398: 1,
 4397: 1,
 4396: 1,
 4394: 1,
 4384: 1,
 4393: 1,
 4392: 1,
 4391: 1,
 4390: 1,
 4389: 1,
 4388: 1,
 4387: 1,
 4386: 1,
 4385: 1,
 4360: 1,
 4359: 1,
 4358: 1,
 4324: 1,
 4333: 1,
 4332: 1,
 4331: 1,
 4330: 1,
 4329: 1,
 4328: 1,
 4327: 1,
 4326: 1,
 4325: 1,
 4323: 1,
 4357: 1,
 4322: 1,
 4321: 1,
 4320: 1,
 4319: 1,
 4318: 1,
 4317: 1,
 4316: 1,
 4315: 1,
 4314: 1,
 4334: 1,
 4335: 1,
 4336: 1,
 4337: 1,
 4356: 1,
 4355: 1,
 4354: 1,
 4353: 1,
 4352: 1,
 4351: 1,
 4350: 1,
 4349: 1,
 4348: 1,
 4347: 1,
 4346: 1,
 4345: 1,
 4344: 1,
 4343: 1,
 4342: 1,
 4341: 1,
 4340: 1,
 4339: 1,
 4338: 1,
 3834: 1,
 3833: 1,
 3832: 1,
 3318: 1,
 3327: 1,
 3326: 1,
 3325: 1,
 3324: 1,
 3323: 1,
 3322: 1,
 3321: 1,
 3320: 1,
 3319: 1,
 3317: 1,
 3329: 1,
 3316: 1,
 3315: 1,
 3314: 1,
 3313: 1,
 3312: 1,
 3311: 1,
 3310: 1,
 3309: 1,
 3308: 1,
 3328: 1,
 3330: 1,
 3306: 1,
 3342: 1,
 3351: 1,
 3350: 1,
 3349: 1,
 3348: 1,
 3347: 1,
 3346: 1,
 3345: 1,
 3344: 1,
 3343: 1,
 3341: 1,
 3331: 1,
 3340: 1,
 3339: 1,
 3338: 1,
 3337: 1,
 3336: 1,
 3335: 1,
 3334: 1,
 3333: 1,
 3332: 1,
 3307: 1,
 3305: 1,
 3258: 1,
 3270: 1,
 3279: 1,
 3278: 1,
 3277: 1,
 3276: 1,
 3275: 1,
 3274: 1,
 3273: 1,
 3272: 1,
 3271: 1,
 3269: 1,
 3281: 1,
 3268: 1,
 3267: 1,
 3266: 1,
 3265: 1,
 3264: 1,
 3263: 1,
 3262: 1,
 3261: 1,
 3260: 1,
 3280: 1,
 3282: 1,
 3304: 1,
 3294: 1,
 3303: 1,
 3302: 1,
 3301: 1,
 3300: 1,
 3299: 1,
 3298: 1,
 3297: 1,
 3296: 1,
 3295: 1,
 3293: 1,
 3283: 1,
 3292: 1,
 3291: 1,
 3290: 1,
 3289: 1,
 3288: 1,
 3287: 1,
 3286: 1,
 3285: 1,
 3284: 1,
 3352: 1,
 3353: 1,
 3354: 1,
 3413: 1,
 3422: 1,
 3421: 1,
 3420: 1,
 3419: 1,
 3418: 1,
 3417: 1,
 3416: 1,
 3415: 1,
 3414: 1,
 3412: 1,
 3424: 1,
 3411: 1,
 3410: 1,
 3409: 1,
 3408: 1,
 3407: 1,
 3406: 1,
 3405: 1,
 3404: 1,
 3403: 1,
 3423: 1,
 3425: 1,
 3355: 1,
 3437: 1,
 3446: 1,
 3445: 1,
 3444: 1,
 3443: 1,
 3442: 1,
 3441: 1,
 3440: 1,
 3439: 1,
 3438: 1,
 3436: 1,
 3426: 1,
 3435: 1,
 3434: 1,
 3433: 1,
 3432: 1,
 3431: 1,
 3430: 1,
 3429: 1,
 3428: 1,
 3427: 1,
 3402: 1,
 3401: 1,
 3400: 1,
 3366: 1,
 3375: 1,
 3374: 1,
 3373: 1,
 3372: 1,
 3371: 1,
 3370: 1,
 3369: 1,
 3368: 1,
 3367: 1,
 3365: 1,
 3399: 1,
 3364: 1,
 3363: 1,
 3362: 1,
 3361: 1,
 3360: 1,
 3359: 1,
 3358: 1,
 3357: 1,
 3356: 1,
 3376: 1,
 3377: 1,
 3378: 1,
 3379: 1,
 3398: 1,
 3397: 1,
 3396: 1,
 3395: 1,
 3394: 1,
 3393: 1,
 3392: 1,
 3391: 1,
 3390: 1,
 3389: 1,
 3388: 1,
 3387: 1,
 3386: 1,
 3385: 1,
 3384: 1,
 3383: 1,
 3382: 1,
 3381: 1,
 3380: 1,
 3259: 1,
 3257: 1,
 3448: 1,
 3127: 1,
 3136: 1,
 3135: 1,
 3134: 1,
 3133: 1,
 3132: 1,
 3131: 1,
 3130: 1,
 3129: 1,
 3128: 1,
 3126: 1,
 3138: 1,
 3125: 1,
 3124: 1,
 3123: 1,
 3122: 1,
 3121: 1,
 3120: 1,
 3119: 1,
 3118: 1,
 3117: 1,
 3137: 1,
 3139: 1,
 3115: 1,
 3151: 1,
 3160: 1,
 3159: 1,
 3158: 1,
 3157: 1,
 3156: 1,
 3155: 1,
 3154: 1,
 3153: 1,
 3152: 1,
 3150: 1,
 3140: 1,
 3149: 1,
 3148: 1,
 3147: 1,
 3146: 1,
 3145: 1,
 3144: 1,
 3143: 1,
 ...}

In [130]:
#creacion de diccionario de la variable numerica 'Year'.
dicc_year=dict(attacks['Year'].value_counts())
dicc_year

{2015.0: 143,
 2017.0: 136,
 2016.0: 130,
 2011.0: 128,
 2014.0: 126,
 2008.0: 122,
 2013.0: 121,
 2009.0: 119,
 2012.0: 116,
 2007.0: 112,
 2006.0: 102,
 2005.0: 102,
 2010.0: 101,
 2000.0: 97,
 1960.0: 93,
 1959.0: 93,
 2001.0: 92,
 2003.0: 92,
 2004.0: 92,
 2002.0: 88,
 1962.0: 85,
 1961.0: 78,
 1995.0: 76,
 1999.0: 66,
 1964.0: 66,
 1998.0: 65,
 1996.0: 61,
 1963.0: 61,
 1966.0: 57,
 1997.0: 57,
 1992.0: 56,
 1993.0: 56,
 1994.0: 56,
 1988.0: 55,
 1958.0: 54,
 2018.0: 53,
 1989.0: 53,
 1956.0: 51,
 1965.0: 51,
 1983.0: 49,
 1975.0: 49,
 1981.0: 49,
 1967.0: 48,
 1968.0: 47,
 1955.0: 43,
 1950.0: 43,
 1954.0: 42,
 1970.0: 42,
 1957.0: 41,
 1984.0: 41,
 1942.0: 41,
 1982.0: 40,
 1976.0: 39,
 1986.0: 39,
 1929.0: 38,
 1974.0: 38,
 1991.0: 38,
 1985.0: 37,
 1990.0: 37,
 1953.0: 36,
 1972.0: 35,
 1987.0: 35,
 1980.0: 34,
 1951.0: 32,
 1936.0: 32,
 1935.0: 32,
 1949.0: 31,
 1944.0: 31,
 1937.0: 30,
 1947.0: 30,
 1969.0: 30,
 1948.0: 29,
 1952.0: 29,
 1931.0: 29,
 1971.0: 28,
 1943.0: 28,
 1932.0: 27,
 1973.0: 27,
 1934.0: 27,
 1941.0: 27,
 1930.0: 26,
 1946.0: 26,
 1928.0: 26,
 1977.0: 26,
 1916.0: 25,
 1939.0: 25,
 1978.0: 25,
 1979.0: 25,
 1938.0: 24,
 1940.0: 24,
 1907.0: 22,
 1933.0: 22,
 1898.0: 21,
 1906.0: 21,
 1926.0: 21,
 1923.0: 21,
 1922.0: 21,
 1899.0: 20,
 1895.0: 20,
 1924.0: 19,
 1927.0: 19,
 1914.0: 18,
 1909.0: 18,
 1905.0: 18,
 1890.0: 17,
 1913.0: 17,
 1911.0: 16,
 1945.0: 16,
 1894.0: 15,
 1880.0: 15,
 1886.0: 15,
 1902.0: 15,
 1888.0: 15,
 1904.0: 14,
 1877.0: 14,
 1910.0: 14,
 1919.0: 14,
 1912.0: 14,
 1864.0: 14,
 1925.0: 14,
 1920.0: 14,
 1908.0: 13,
 1883.0: 13,
 1893.0: 13,
 1887.0: 13,
 1878.0: 13,
 1900.0: 13,
 1896.0: 12,
 1921.0: 12,
 1882.0: 12,
 1862.0: 12,
 1874.0: 12,
 1863.0: 11,
 1892.0: 11,
 1915.0: 11,
 1917.0: 11,
 1897.0: 11,
 1903.0: 10,
 1852.0: 10,
 1885.0: 9,
 1901.0: 9,
 1871.0: 9,
 1876.0: 9,
 1847.0: 9,
 1881.0: 9,
 1891.0: 9,
 1889.0: 9,
 1879.0: 8,
 1872.0: 8,
 1870.0: 8,
 1853.0: 8,
 1855.0: 7,
 1860.0: 7,
 1849.0: 7,
 1884.0: 7,
 1858.0: 6,
 1868.0: 6,
 1845.0: 6,
 1918.0: 5,
 1861.0: 5,
 1840.0: 5,
 1826.0: 5,
 1875.0: 5,
 1867.0: 5,
 1837.0: 4,
 1830.0: 4,
 1817.0: 4,
 1839.0: 4,
 1842.0: 4,
 1844.0: 4,
 1873.0: 4,
 1856.0: 4,
 1848.0: 4,
 1865.0: 4,
 1846.0: 3,
 1851.0: 3,
 1808.0: 3,
 1827.0: 3,
 1829.0: 3,
 1866.0: 2,
 1803.0: 2,
 1850.0: 2,
 1869.0: 2,
 1828.0: 2,
 1825.0: 2,
 1831.0: 2,
 1835.0: 2,
 1836.0: 2,
 1832.0: 2,
 1811.0: 1,
 1802.0: 1,
 1841.0: 1,
 1804.0: 1,
 1805.0: 1,
 1807.0: 1,
 1857.0: 1,
 1810.0: 1,
 1815.0: 1,
 1812.0: 1,
 1816.0: 1,
 1859.0: 1,
 1818.0: 1,
 1819.0: 1,
 1822.0: 1,
 1823.0: 1,
 1834.0: 1,
 1801.0: 1}

In [131]:
#creacion de diccionario de la variable numerica 'original order'.
dicc_original_order=dict(attacks['original order'].value_counts())
dicc_original_order

{569.0: 2,
 6303.0: 1,
 2208.0: 1,
 2210.0: 1,
 2211.0: 1,
 2212.0: 1,
 2213.0: 1,
 2214.0: 1,
 2215.0: 1,
 2216.0: 1,
 2217.0: 1,
 2218.0: 1,
 2219.0: 1,
 2220.0: 1,
 2221.0: 1,
 2222.0: 1,
 2223.0: 1,
 2224.0: 1,
 2225.0: 1,
 2226.0: 1,
 2227.0: 1,
 2228.0: 1,
 2229.0: 1,
 2209.0: 1,
 2207.0: 1,
 2231.0: 1,
 2195.0: 1,
 2186.0: 1,
 2187.0: 1,
 2188.0: 1,
 2189.0: 1,
 2190.0: 1,
 2191.0: 1,
 2192.0: 1,
 2193.0: 1,
 2194.0: 1,
 2196.0: 1,
 2206.0: 1,
 2197.0: 1,
 2198.0: 1,
 2199.0: 1,
 2200.0: 1,
 2201.0: 1,
 2202.0: 1,
 2203.0: 1,
 2204.0: 1,
 2205.0: 1,
 2230.0: 1,
 2232.0: 1,
 2184.0: 1,
 2267.0: 1,
 2258.0: 1,
 2259.0: 1,
 2260.0: 1,
 2261.0: 1,
 2262.0: 1,
 2263.0: 1,
 2264.0: 1,
 2265.0: 1,
 2266.0: 1,
 2268.0: 1,
 2256.0: 1,
 2269.0: 1,
 2270.0: 1,
 2271.0: 1,
 2272.0: 1,
 2273.0: 1,
 2274.0: 1,
 2275.0: 1,
 2276.0: 1,
 2277.0: 1,
 2257.0: 1,
 2255.0: 1,
 2233.0: 1,
 2243.0: 1,
 2234.0: 1,
 2235.0: 1,
 2236.0: 1,
 2237.0: 1,
 2238.0: 1,
 2239.0: 1,
 2240.0: 1,
 2241.0: 1,
 2242.0: 1,
 2244.0: 1,
 2254.0: 1,
 2245.0: 1,
 2246.0: 1,
 2247.0: 1,
 2248.0: 1,
 2249.0: 1,
 2250.0: 1,
 2251.0: 1,
 2252.0: 1,
 2253.0: 1,
 2185.0: 1,
 2183.0: 1,
 2470.0: 1,
 2124.0: 1,
 2115.0: 1,
 2116.0: 1,
 2117.0: 1,
 2118.0: 1,
 2119.0: 1,
 2120.0: 1,
 2121.0: 1,
 2122.0: 1,
 2123.0: 1,
 2125.0: 1,
 2113.0: 1,
 2126.0: 1,
 2127.0: 1,
 2128.0: 1,
 2129.0: 1,
 2130.0: 1,
 2131.0: 1,
 2132.0: 1,
 2133.0: 1,
 2134.0: 1,
 2114.0: 1,
 2112.0: 1,
 2182.0: 1,
 2100.0: 1,
 2091.0: 1,
 2092.0: 1,
 2093.0: 1,
 2094.0: 1,
 2095.0: 1,
 2096.0: 1,
 2097.0: 1,
 2098.0: 1,
 2099.0: 1,
 2101.0: 1,
 2111.0: 1,
 2102.0: 1,
 2103.0: 1,
 2104.0: 1,
 2105.0: 1,
 2106.0: 1,
 2107.0: 1,
 2108.0: 1,
 2109.0: 1,
 2110.0: 1,
 2135.0: 1,
 2136.0: 1,
 2137.0: 1,
 2171.0: 1,
 2162.0: 1,
 2163.0: 1,
 2164.0: 1,
 2165.0: 1,
 2166.0: 1,
 2167.0: 1,
 2168.0: 1,
 2169.0: 1,
 2170.0: 1,
 2172.0: 1,
 2138.0: 1,
 2173.0: 1,
 2174.0: 1,
 2175.0: 1,
 2176.0: 1,
 2177.0: 1,
 2178.0: 1,
 2179.0: 1,
 2180.0: 1,
 2181.0: 1,
 2161.0: 1,
 2160.0: 1,
 2159.0: 1,
 2158.0: 1,
 2139.0: 1,
 2140.0: 1,
 2141.0: 1,
 2142.0: 1,
 2143.0: 1,
 2144.0: 1,
 2145.0: 1,
 2146.0: 1,
 2147.0: 1,
 2148.0: 1,
 2149.0: 1,
 2150.0: 1,
 2151.0: 1,
 2152.0: 1,
 2153.0: 1,
 2154.0: 1,
 2155.0: 1,
 2156.0: 1,
 2157.0: 1,
 2278.0: 1,
 2279.0: 1,
 2280.0: 1,
 2410.0: 1,
 2401.0: 1,
 2402.0: 1,
 2403.0: 1,
 2404.0: 1,
 2405.0: 1,
 2406.0: 1,
 2407.0: 1,
 2408.0: 1,
 2409.0: 1,
 2411.0: 1,
 2399.0: 1,
 2412.0: 1,
 2413.0: 1,
 2414.0: 1,
 2415.0: 1,
 2416.0: 1,
 2417.0: 1,
 2418.0: 1,
 2419.0: 1,
 2420.0: 1,
 2400.0: 1,
 2398.0: 1,
 2422.0: 1,
 2386.0: 1,
 2377.0: 1,
 2378.0: 1,
 2379.0: 1,
 2380.0: 1,
 2381.0: 1,
 2382.0: 1,
 2383.0: 1,
 2384.0: 1,
 2385.0: 1,
 2387.0: 1,
 2397.0: 1,
 2388.0: 1,
 2389.0: 1,
 2390.0: 1,
 2391.0: 1,
 2392.0: 1,
 2393.0: 1,
 2394.0: 1,
 2395.0: 1,
 2396.0: 1,
 2421.0: 1,
 2423.0: 1,
 2281.0: 1,
 2458.0: 1,
 2449.0: 1,
 2450.0: 1,
 2451.0: 1,
 2452.0: 1,
 2453.0: 1,
 2454.0: 1,
 2455.0: 1,
 2456.0: 1,
 2457.0: 1,
 2459.0: 1,
 2447.0: 1,
 2460.0: 1,
 2461.0: 1,
 2462.0: 1,
 2463.0: 1,
 2464.0: 1,
 2465.0: 1,
 2466.0: 1,
 2467.0: 1,
 2468.0: 1,
 2448.0: 1,
 2446.0: 1,
 2424.0: 1,
 2434.0: 1,
 2425.0: 1,
 2426.0: 1,
 2427.0: 1,
 2428.0: 1,
 2429.0: 1,
 2430.0: 1,
 2431.0: 1,
 2432.0: 1,
 2433.0: 1,
 2435.0: 1,
 2445.0: 1,
 2436.0: 1,
 2437.0: 1,
 2438.0: 1,
 2439.0: 1,
 2440.0: 1,
 2441.0: 1,
 2442.0: 1,
 2443.0: 1,
 2444.0: 1,
 2376.0: 1,
 2375.0: 1,
 2374.0: 1,
 2315.0: 1,
 2306.0: 1,
 2307.0: 1,
 2308.0: 1,
 2309.0: 1,
 2310.0: 1,
 2311.0: 1,
 2312.0: 1,
 2313.0: 1,
 2314.0: 1,
 2316.0: 1,
 2304.0: 1,
 2317.0: 1,
 2318.0: 1,
 2319.0: 1,
 2320.0: 1,
 2321.0: 1,
 2322.0: 1,
 2323.0: 1,
 2324.0: 1,
 2325.0: 1,
 2305.0: 1,
 2303.0: 1,
 2373.0: 1,
 2291.0: 1,
 2282.0: 1,
 2283.0: 1,
 2284.0: 1,
 2285.0: 1,
 2286.0: 1,
 2287.0: 1,
 2288.0: 1,
 2289.0: 1,
 2290.0: 1,
 2292.0: 1,
 2302.0: 1,
 2293.0: 1,
 2294.0: 1,
 2295.0: 1,
 2296.0: 1,
 2297.0: 1,
 2298.0: 1,
 2299.0: 1,
 2300.0: 1,
 2301.0: 1,
 2326.0: 1,
 2327.0: 1,
 2328.0: 1,
 2362.0: 1,
 2353.0: 1,
 2354.0: 1,
 2355.0: 1,
 2356.0: 1,
 2357.0: 1,
 2358.0: 1,
 2359.0: 1,
 2360.0: 1,
 2361.0: 1,
 2363.0: 1,
 2329.0: 1,
 2364.0: 1,
 2365.0: 1,
 2366.0: 1,
 2367.0: 1,
 2368.0: 1,
 2369.0: 1,
 2370.0: 1,
 2371.0: 1,
 2372.0: 1,
 2352.0: 1,
 2351.0: 1,
 2350.0: 1,
 2349.0: 1,
 2330.0: 1,
 2331.0: 1,
 2332.0: 1,
 2333.0: 1,
 2334.0: 1,
 2335.0: 1,
 2336.0: 1,
 2337.0: 1,
 2338.0: 1,
 2339.0: 1,
 2340.0: 1,
 2341.0: 1,
 2342.0: 1,
 2343.0: 1,
 2344.0: 1,
 2345.0: 1,
 2346.0: 1,
 2347.0: 1,
 2348.0: 1,
 2090.0: 1,
 2089.0: 1,
 2088.0: 1,
 1837.0: 1,
 1828.0: 1,
 1829.0: 1,
 1830.0: 1,
 1831.0: 1,
 1832.0: 1,
 1833.0: 1,
 1834.0: 1,
 1835.0: 1,
 1836.0: 1,
 1838.0: 1,
 1826.0: 1,
 1839.0: 1,
 1840.0: 1,
 1841.0: 1,
 1842.0: 1,
 1843.0: 1,
 1844.0: 1,
 1845.0: 1,
 1846.0: 1,
 1847.0: 1,
 1827.0: 1,
 1825.0: 1,
 1849.0: 1,
 1813.0: 1,
 1804.0: 1,
 1805.0: 1,
 1806.0: 1,
 1807.0: 1,
 1808.0: 1,
 1809.0: 1,
 1810.0: 1,
 1811.0: 1,
 1812.0: 1,
 1814.0: 1,
 1824.0: 1,
 1815.0: 1,
 1816.0: 1,
 1817.0: 1,
 1818.0: 1,
 1819.0: 1,
 1820.0: 1,
 1821.0: 1,
 1822.0: 1,
 1823.0: 1,
 1848.0: 1,
 1850.0: 1,
 1897.0: 1,
 1885.0: 1,
 1876.0: 1,
 1877.0: 1,
 1878.0: 1,
 1879.0: 1,
 1880.0: 1,
 1881.0: 1,
 1882.0: 1,
 1883.0: 1,
 1884.0: 1,
 1886.0: 1,
 1874.0: 1,
 1887.0: 1,
 1888.0: 1,
 1889.0: 1,
 1890.0: 1,
 1891.0: 1,
 1892.0: 1,
 1893.0: 1,
 1894.0: 1,
 1895.0: 1,
 1875.0: 1,
 1873.0: 1,
 1851.0: 1,
 1861.0: 1,
 1852.0: 1,
 1853.0: 1,
 1854.0: 1,
 1855.0: 1,
 1856.0: 1,
 1857.0: 1,
 1858.0: 1,
 1859.0: 1,
 1860.0: 1,
 1862.0: 1,
 1872.0: 1,
 1863.0: 1,
 1864.0: 1,
 1865.0: 1,
 1866.0: 1,
 1867.0: 1,
 1868.0: 1,
 1869.0: 1,
 1870.0: 1,
 1871.0: 1,
 1803.0: 1,
 1802.0: 1,
 1801.0: 1,
 1742.0: 1,
 1733.0: 1,
 1734.0: 1,
 1735.0: 1,
 1736.0: 1,
 1737.0: 1,
 1738.0: 1,
 1739.0: 1,
 1740.0: 1,
 1741.0: 1,
 1743.0: 1,
 1731.0: 1,
 1744.0: 1,
 1745.0: 1,
 1746.0: 1,
 1747.0: 1,
 1748.0: 1,
 1749.0: 1,
 1750.0: 1,
 1751.0: 1,
 1752.0: 1,
 1732.0: 1,
 1730.0: 1,
 1800.0: 1,
 1718.0: 1,
 1709.0: 1,
 1710.0: 1,
 1711.0: 1,
 1712.0: 1,
 1713.0: 1,
 1714.0: 1,
 1715.0: 1,
 1716.0: 1,
 1717.0: 1,
 1719.0: 1,
 1729.0: 1,
 1720.0: 1,
 1721.0: 1,
 1722.0: 1,
 1723.0: 1,
 1724.0: 1,
 1725.0: 1,
 1726.0: 1,
 1727.0: 1,
 1728.0: 1,
 1753.0: 1,
 1754.0: 1,
 1755.0: 1,
 1789.0: 1,
 1780.0: 1,
 1781.0: 1,
 1782.0: 1,
 1783.0: 1,
 1784.0: 1,
 1785.0: 1,
 1786.0: 1,
 1787.0: 1,
 1788.0: 1,
 1790.0: 1,
 1756.0: 1,
 1791.0: 1,
 1792.0: 1,
 1793.0: 1,
 1794.0: 1,
 1795.0: 1,
 1796.0: 1,
 1797.0: 1,
 1798.0: 1,
 1799.0: 1,
 1779.0: 1,
 1778.0: 1,
 1777.0: 1,
 1776.0: 1,
 1757.0: 1,
 1758.0: 1,
 1759.0: 1,
 1760.0: 1,
 1761.0: 1,
 1762.0: 1,
 1763.0: 1,
 1764.0: 1,
 1765.0: 1,
 1766.0: 1,
 1767.0: 1,
 1768.0: 1,
 1769.0: 1,
 1770.0: 1,
 1771.0: 1,
 1772.0: 1,
 1773.0: 1,
 1774.0: 1,
 1775.0: 1,
 1896.0: 1,
 1898.0: 1,
 2087.0: 1,
 2028.0: 1,
 2019.0: 1,
 2020.0: 1,
 2021.0: 1,
 2022.0: 1,
 2023.0: 1,
 2024.0: 1,
 2025.0: 1,
 2026.0: 1,
 2027.0: 1,
 2029.0: 1,
 2017.0: 1,
 2030.0: 1,
 2031.0: 1,
 2032.0: 1,
 2033.0: 1,
 2034.0: 1,
 2035.0: 1,
 2036.0: 1,
 2037.0: 1,
 2038.0: 1,
 2018.0: 1,
 2016.0: 1,
 2040.0: 1,
 2004.0: 1,
 1995.0: 1,
 1996.0: 1,
 1997.0: 1,
 1998.0: 1,
 1999.0: 1,
 2000.0: 1,
 2001.0: 1,
 2002.0: 1,
 2003.0: 1,
 2005.0: 1,
 2015.0: 1,
 2006.0: 1,
 2007.0: 1,
 2008.0: 1,
 2009.0: 1,
 2010.0: 1,
 2011.0: 1,
 2012.0: 1,
 2013.0: 1,
 2014.0: 1,
 2039.0: 1,
 2041.0: 1,
 1899.0: 1,
 2076.0: 1,
 2067.0: 1,
 2068.0: 1,
 2069.0: 1,
 2070.0: 1,
 2071.0: 1,
 2072.0: 1,
 2073.0: 1,
 2074.0: 1,
 2075.0: 1,
 2077.0: 1,
 2065.0: 1,
 2078.0: 1,
 2079.0: 1,
 2080.0: 1,
 2081.0: 1,
 2082.0: 1,
 2083.0: 1,
 2084.0: 1,
 2085.0: 1,
 2086.0: 1,
 2066.0: 1,
 2064.0: 1,
 2042.0: 1,
 2052.0: 1,
 2043.0: 1,
 2044.0: 1,
 2045.0: 1,
 2046.0: 1,
 2047.0: 1,
 2048.0: 1,
 2049.0: 1,
 2050.0: 1,
 2051.0: 1,
 2053.0: 1,
 2063.0: 1,
 2054.0: 1,
 2055.0: 1,
 2056.0: 1,
 2057.0: 1,
 2058.0: 1,
 2059.0: 1,
 2060.0: 1,
 2061.0: 1,
 2062.0: 1,
 1994.0: 1,
 1993.0: 1,
 1992.0: 1,
 1933.0: 1,
 1924.0: 1,
 1925.0: 1,
 1926.0: 1,
 1927.0: 1,
 1928.0: 1,
 1929.0: 1,
 1930.0: 1,
 1931.0: 1,
 1932.0: 1,
 1934.0: 1,
 1922.0: 1,
 1935.0: 1,
 1936.0: 1,
 1937.0: 1,
 1938.0: 1,
 1939.0: 1,
 1940.0: 1,
 1941.0: 1,
 1942.0: 1,
 1943.0: 1,
 1923.0: 1,
 1921.0: 1,
 1991.0: 1,
 1909.0: 1,
 1900.0: 1,
 1901.0: 1,
 1902.0: 1,
 1903.0: 1,
 1904.0: 1,
 1905.0: 1,
 1906.0: 1,
 1907.0: 1,
 1908.0: 1,
 1910.0: 1,
 1920.0: 1,
 1911.0: 1,
 1912.0: 1,
 1913.0: 1,
 1914.0: 1,
 1915.0: 1,
 1916.0: 1,
 1917.0: 1,
 1918.0: 1,
 1919.0: 1,
 1944.0: 1,
 1945.0: 1,
 1946.0: 1,
 1980.0: 1,
 1971.0: 1,
 1972.0: 1,
 1973.0: 1,
 1974.0: 1,
 1975.0: 1,
 1976.0: 1,
 1977.0: 1,
 1978.0: 1,
 1979.0: 1,
 1981.0: 1,
 1947.0: 1,
 1982.0: 1,
 1983.0: 1,
 1984.0: 1,
 1985.0: 1,
 1986.0: 1,
 1987.0: 1,
 1988.0: 1,
 1989.0: 1,
 1990.0: 1,
 1970.0: 1,
 1969.0: 1,
 1968.0: 1,
 1967.0: 1,
 1948.0: 1,
 1949.0: 1,
 1950.0: 1,
 1951.0: 1,
 1952.0: 1,
 1953.0: 1,
 1954.0: 1,
 1955.0: 1,
 1956.0: 1,
 1957.0: 1,
 1958.0: 1,
 1959.0: 1,
 1960.0: 1,
 1961.0: 1,
 1962.0: 1,
 1963.0: 1,
 1964.0: 1,
 1965.0: 1,
 1966.0: 1,
 2469.0: 1,
 2471.0: 1,
 1707.0: 1,
 2985.0: 1,
 2976.0: 1,
 2977.0: 1,
 2978.0: 1,
 2979.0: 1,
 2980.0: 1,
 2981.0: 1,
 2982.0: 1,
 2983.0: 1,
 2984.0: 1,
 2986.0: 1,
 2974.0: 1,
 2987.0: 1,
 2988.0: 1,
 2989.0: 1,
 2990.0: 1,
 2991.0: 1,
 2992.0: 1,
 2993.0: 1,
 2994.0: 1,
 2995.0: 1,
 2975.0: 1,
 2973.0: 1,
 2997.0: 1,
 2961.0: 1,
 2952.0: 1,
 2953.0: 1,
 2954.0: 1,
 2955.0: 1,
 2956.0: 1,
 2957.0: 1,
 2958.0: 1,
 2959.0: 1,
 2960.0: 1,
 2962.0: 1,
 2972.0: 1,
 2963.0: 1,
 2964.0: 1,
 2965.0: 1,
 2966.0: 1,
 2967.0: 1,
 2968.0: 1,
 2969.0: 1,
 2970.0: 1,
 2971.0: 1,
 2996.0: 1,
 2998.0: 1,
 3045.0: 1,
 3033.0: 1,
 3024.0: 1,
 3025.0: 1,
 3026.0: 1,
 3027.0: 1,
 3028.0: 1,
 3029.0: 1,
 3030.0: 1,
 3031.0: 1,
 3032.0: 1,
 3034.0: 1,
 3022.0: 1,
 3035.0: 1,
 3036.0: 1,
 3037.0: 1,
 3038.0: 1,
 3039.0: 1,
 3040.0: 1,
 3041.0: 1,
 3042.0: 1,
 3043.0: 1,
 3023.0: 1,
 3021.0: 1,
 2999.0: 1,
 3009.0: 1,
 3000.0: 1,
 3001.0: 1,
 3002.0: 1,
 3003.0: 1,
 3004.0: 1,
 3005.0: 1,
 3006.0: 1,
 3007.0: 1,
 3008.0: 1,
 3010.0: 1,
 3020.0: 1,
 3011.0: 1,
 3012.0: 1,
 3013.0: 1,
 3014.0: 1,
 3015.0: 1,
 3016.0: 1,
 3017.0: 1,
 3018.0: 1,
 3019.0: 1,
 2951.0: 1,
 2950.0: 1,
 2949.0: 1,
 2890.0: 1,
 2881.0: 1,
 2882.0: 1,
 2883.0: 1,
 2884.0: 1,
 2885.0: 1,
 2886.0: 1,
 2887.0: 1,
 2888.0: 1,
 2889.0: 1,
 2891.0: 1,
 2879.0: 1,
 2892.0: 1,
 2893.0: 1,
 2894.0: 1,
 2895.0: 1,
 2896.0: 1,
 2897.0: 1,
 2898.0: 1,
 2899.0: 1,
 2900.0: 1,
 2880.0: 1,
 2878.0: 1,
 2948.0: 1,
 2866.0: 1,
 2857.0: 1,
 2858.0: 1,
 2859.0: 1,
 2860.0: 1,
 2861.0: 1,
 2862.0: 1,
 2863.0: 1,
 2864.0: 1,
 2865.0: 1,
 2867.0: 1,
 2877.0: 1,
 2868.0: 1,
 2869.0: 1,
 2870.0: 1,
 2871.0: 1,
 2872.0: 1,
 2873.0: 1,
 2874.0: 1,
 2875.0: 1,
 2876.0: 1,
 2901.0: 1,
 2902.0: 1,
 2903.0: 1,
 2937.0: 1,
 2928.0: 1,
 2929.0: 1,
 2930.0: 1,
 2931.0: 1,
 2932.0: 1,
 2933.0: 1,
 2934.0: 1,
 2935.0: 1,
 2936.0: 1,
 2938.0: 1,
 2904.0: 1,
 2939.0: 1,
 2940.0: 1,
 2941.0: 1,
 2942.0: 1,
 2943.0: 1,
 2944.0: 1,
 2945.0: 1,
 2946.0: 1,
 2947.0: 1,
 2927.0: 1,
 2926.0: 1,
 2925.0: 1,
 2924.0: 1,
 2905.0: 1,
 2906.0: 1,
 2907.0: 1,
 2908.0: 1,
 2909.0: 1,
 2910.0: 1,
 2911.0: 1,
 2912.0: 1,
 2913.0: 1,
 2914.0: 1,
 2915.0: 1,
 2916.0: 1,
 2917.0: 1,
 2918.0: 1,
 2919.0: 1,
 2920.0: 1,
 2921.0: 1,
 2922.0: 1,
 2923.0: 1,
 3044.0: 1,
 3046.0: 1,
 2855.0: 1,
 3176.0: 1,
 3167.0: 1,
 3168.0: 1,
 3169.0: 1,
 3170.0: 1,
 3171.0: 1,
 3172.0: 1,
 3173.0: 1,
 3174.0: 1,
 3175.0: 1,
 3177.0: 1,
 3165.0: 1,
 3178.0: 1,
 3179.0: 1,
 3180.0: 1,
 3181.0: 1,
 3182.0: 1,
 3183.0: 1,
 3184.0: 1,
 3185.0: 1,
 3186.0: 1,
 3166.0: 1,
 3164.0: 1,
 3188.0: 1,
 3152.0: 1,
 3143.0: 1,
 3144.0: 1,
 3145.0: 1,
 3146.0: 1,
 3147.0: 1,
 3148.0: 1,
 3149.0: 1,
 3150.0: 1,
 3151.0: 1,
 3153.0: 1,
 3163.0: 1,
 3154.0: 1,
 3155.0: 1,
 3156.0: 1,
 3157.0: 1,
 3158.0: 1,
 3159.0: 1,
 3160.0: 1,
 ...}

In [132]:
#Para automatizar el proceso el proceso anterior, se puede generar con un for loop, el
#  resultado final serÃ­a una lista de 3 diccionarios. Por lo tanto no tendrÃ­amos almacenados
#  cada diccionario en una variable. Habria que sacar cada diccionario por su indice de la
#  lista y almacenarlo en una variable.
lista_dicc=[]
for x in nombres_columnas:
    if attacks[x].dtypes=='object':
        pass
    else:
        lista_dicc.append(dict(attacks[x].value_counts()))

len(lista_dicc)

3

- Cambiad el nombre de las columnas para que todas estÃ©n en minÃºsculas y reemplazad los espacios por _.

In [133]:
#Creamos un diccionario empleando una list comprehension para poner en minuscula los nombres de las columnas de todo el
#  dataframe y sustituir los espacios por "_".
columnas_nuevas={columna:columna.lower().replace(' ','_') for columna in attacks.columns}
columnas_nuevas

{'Unnamed: 0': 'unnamed:_0',
 'Case Number': 'case_number',
 'Year': 'year',
 'Type': 'type',
 'Country': 'country',
 'Area': 'area',
 'Location': 'location',
 'Activity': 'activity',
 'Name': 'name',
 'Sex ': 'sex_',
 'Age': 'age',
 'Time': 'time',
 'Species ': 'species_',
 'Investigator or Source': 'investigator_or_source',
 'pdf': 'pdf',
 'href formula': 'href_formula',
 'href': 'href',
 'Case Number.1': 'case_number.1',
 'Case Number.2': 'case_number.2',
 'original order': 'original_order',
 'Unnamed: 22': 'unnamed:_22',
 'Unnamed: 23': 'unnamed:_23'}

In [134]:
#Empleando el diccionario creado se aplica el metodo ".rename()" para que se haga efectivo el cambio de nombre en las columnas.
attacks.rename(columns=columnas_nuevas, inplace=True)
attacks

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

- Eliminad las columnas de `Unnamed: 22` y `Unnamed: 23`, `Case Number.1`, `Case Number.2`, `original order`, `Investigator or Source`, `pdf`, `href formula`.

In [135]:
#Eliminamos las columnas indicadas con el metodo ".drop()".
eliminar_columnas_attacks=attacks.drop(['unnamed:_22','unnamed:_23','case_number.1','case_number.2','original_order','investigator_or_source','pdf','href_formula'],axis=1)
eliminar_columnas_attacks

,unnamed:_0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

- Establece la columna Case Number como Ã­ndice del DataFrame.

In [138]:
eliminar_columnas_attacks.set_index(['case_number'],inplace=True)
eliminar_columnas_attacks

,unnamed:_0,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804.02.26.R,6127,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.05.17,6128,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.03.00,6129,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1802.04.13.R,6130,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1801.12.18.R,6131,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

3. Guarda el csv que no tiene esas columnas para seguir usÃ¡ndolo maÃ±ana.

In [139]:
eliminar_columnas_attacks.to_csv('data_pandas_lec3/attacks_lec3.csv')

Happy coding ðŸ¦ˆ