# Ejercicios Pair Programming - Sprint 2

## Lecci칩n 14 - Python + SQL 2

### Lourdes Ochoa, Silvia Gord칩n y Sonia Ruiz

Sigamos trabajando con SQL desde nuestro jupyter! En este caso crearemos una BBDD

En el ejercicio de hoy vamos a crear una BBDD, pero esta vez desde Python.

游늷 NOTA Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python
游늷 NOTA Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:
- Contrase침a de la conexi칩n al servidor.
- Query para crear la tabla.
A modo de recap de lo que conten칤a la BBDD:
- Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:
    - idZapatillas: es una clave primaria de tipo int, autoincremental y no nula.
    - Modelo: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Color: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Talla: es entero, no nula.
- Tabla Clientes: tiene 9 columnas  idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:
    - idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Numero_telefono: es un entero de longitud m치xima de 9 caracteres, no nula.
    - Email: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Direccion: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Ciudad: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
    - Provincia: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Pais: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Codigo_postal: entero de m치xima longitud 9, no nula.
- Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
    - idEmpleado: es una clave primaria de tipo int, autoincremental y no nula.
    - Nombre: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - Tienda: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    - salario: es decimal, puede ser nula.
    - fecha_incorporacion: es una columna de tipo date, no nula.
- Tabla Facturas: tiene 5 columnas  idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
    - idFactura: es una clave primaria de tipo int, autoincremental y no nula.
    - idEmpleado: es una clave for치nea de tipo int, no nula.
    - idCliente: es una clave for치nea de tipo int, no nula.
    - idZapatilla: es una clave for치nea de tipo int, no nula
    - Fecha: es una columna de tipo date, no nula.
    - Total: es decimal, no nula.
游늷 NOTA En esta 칰ltima tabla tendremos que incluir todos los CONSTRAINTnecesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
Foreign Key
References
Happy coding 游

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [2]:
def creacion_tablas(contrase침a, query):
    import mysql.connector

    cnx = mysql.connector.connect(user='root', password=contrase침a,
                                host='127.0.0.1', database='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)


    mycursor.close()
    cnx.close()

In [3]:
query1= """CREATE TABLE Zapatillas (
                idZapatillas INT AUTO_INCREMENT NOT NULL,
                Modelo VARCHAR(45) NOT NULL,
                Color VARCHAR(45) NOT NULL,
                Talla INT NOT NULL,
                PRIMARY KEY (idZapatillas))"""
zapatillas= creacion_tablas('AlumnaAdalab', query1)

CMySQLCursor: CREATE TABLE Zapatillas (
              ..

In [4]:
query2= """CREATE TABLE Clientes (
                idCliente INT AUTO_INCREMENT NOT NULL,
                Nombre VARCHAR(45) NOT NULL,
                Numero_telefono INT(9) NOT NULL,
                Email VARCHAR(45) NOT NULL,
                Direccion VARCHAR(45) NOT NULL,
                Ciudad VARCHAR(45),
                Provincia VARCHAR(45) NOT NULL,
                Pais VARCHAR(45) NOT NULL,
                Codigo_postal INT(9) NOT NULL,
                PRIMARY KEY (idCliente))"""
clientes= creacion_tablas('AlumnaAdalab', query2)

CMySQLCursor: CREATE TABLE Clientes (
                ..

In [5]:
query3= """CREATE TABLE Empleados (
                idEmpleado INT AUTO_INCREMENT NOT NULL,
                Nombre VARCHAR(45) NOT NULL,
                Tienda VARCHAR(45) NOT NULL,
                Salario FLOAT,
                Fecha_incorporacion DATE NOT NULL,
                PRIMARY KEY (idEmpleado))"""
empleados= creacion_tablas('AlumnaAdalab', query3)

CMySQLCursor: CREATE TABLE Empleados (
               ..

In [7]:
query4="""CREATE TABLE Facturas (
                idFactura INT AUTO_INCREMENT NOT NULL,
                idEmpleado INT NOT NULL,
                idCliente INT NOT NULL,
                idZapatillas INT NOT NULL,
                Fecha DATE NOT NULL,
                Total FLOAT NOT NULL,
                PRIMARY KEY (idFactura),
                CONSTRAINT fk_zapatillas FOREIGN KEY (idZapatillas) references Zapatillas (idZapatillas),
                CONSTRAINT fk_empleados FOREIGN KEY (idEmpleado) references Empleados (idEmpleado),
                CONSTRAINT fk_clientes FOREIGN KEY (idCliente) references Clientes (idCliente))"""
facturas= creacion_tablas('AlumnaAdalab', query4)

CMySQLCursor: CREATE TABLE Facturas (
                ..

In [9]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='mi_primerita_BBDD_Python')

mycursor = cnx.cursor()
try:
    mycursor.execute("SHOW TABLES")
    for i in mycursor:
        print(i)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.close()
cnx.close()

('Clientes',)
('Empleados',)
('Facturas',)
('Zapatillas',)