## LISTAS 2

In [1]:
# Crear una lista con 10 números aleatorios del 0 al 100
import random
lista = random.sample(range(1,100), 10)

In [2]:
# Cuál es la longitud de la lista?
len(lista)

10

In [3]:
print(lista)

[38, 25, 78, 69, 5, 20, 53, 41, 36, 17]

In [4]:
# Extraer el número que está en 3ª posición
lista[2]

78

In [5]:
# Extraer el número que está en 3ª posición utilizando los índices negativos
lista[-8]

78

In [35]:
# Preguntar al usuario por un número de la lista que hemos creado
numero = int(input("Elige un número de la lista"))
print(numero)

53

In [17]:
print(lista)

[38, 25, 78, 69, 5, 20, 53, 41, 36, 17]

In [36]:
# En qué posición está ese número?
print(lista.index(numero))

6

In [19]:
# Extraer los valores que están entre la 3ª y la 5ª posición, ambos inclusive.
lista[2:5]

[78, 69, 5]

In [20]:
# Extrear los valores que están entre las posiciones 6 y 9 utilizando los valores negativos.
lista[-5:-1]

[20, 53, 41, 36]

In [21]:
# Cuáles son los números que están en las posiciones pares de nuestra lista?
lista[1::2]

[25, 69, 20, 41, 17]

In [22]:
# Y en las impares?
lista[::2]

[38, 78, 5, 53, 36]

In [23]:
# Dadas las listas:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucia"]
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [24]:
# Qué nota ha sacado Lupe?
notas_lupe = notas[nombres.index("Lupe")]
notas_lupe

9.8

In [25]:
# Qué alumno ha sacado la nota más alta?
notas_max = nombres[notas.index(max(notas))]
notas_max

'Lupe'

In [26]:
# Qué alumna ha sacado la nota más baja?
notas_min = nombres[notas.index(min(notas))]
notas_min

'Lorena'

In [29]:
# Es esa nota mayor que 5?
print(min(notas)>5)

True

In [30]:
# Ordenar la lista de notas de mayor a menor y almacenarlo en la variable "notas_nuevo_orden"
notas_nuevo_orden = sorted(notas, reverse=True)
notas_nuevo_orden

[9.8, 9.2, 9, 8.9, 8.5]

In [31]:
# Ordenar las notas de las alumnas de mayor a menor sobreescribiendo la variable "notas"
notas.sort(reverse=True)
notas

[9.8, 9.2, 9, 8.9, 8.5]

In [32]:
# Ordenar la variable "nombres" de mayor a menor. Se ordena alfabéticamente
nombres.sort(reverse=True)
nombres

['Lupe', 'Lucia', 'Loreto', 'Lorena', 'Laura']

In [33]:
# Borrad la lista de notas
del notas

In [37]:
# Comprobar que no existe
notas

NameError: name 'notas' is not defined

In [11]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [13]:
# Unid las tres listas de forma que obtengamos: [34, 56, 82, [99, 64, 24], [12, 59, 71]]
lunes.append(martes)
lunes.append(miercoles)
lunes

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [14]:
# Definir de nuevo las tres listas
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [15]:
# Unir de nuevo las tres listas, obteniendo: [34, 56, 82, 99, 64, 12, 59, 71]
semana = lunes + martes + miercoles
semana

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [16]:
# Definir de nuevo las 3 listas
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [17]:
# En la lista lunes, insertar un 100 en la 1ª posición
lunes.insert(0, 100)
lunes

[100, 34, 56, 82]

In [18]:
# En la lista martes, insertar un 100 en la 3ª posición
martes.insert(2, 100)
martes

[99, 64, 100, 24]

In [25]:
# En la lista miércoles, insertar un 100 en la última posición
miercoles.append(100)
miercoles

[12, 59, 71, 100]